@font-face {
  font-family:  MontserratNormal;
  src: url(../../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: MontserratBoldItallic;
  src: url(../../fonts/Montserrat-BoldItalic.ttf)
}


a {
  text-decoration: none;
}


.headerBlock {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}
.headerBlock_container {
  max-width: 1200px;
  padding: 30px 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.headerBlock_container a {
  font-family: MontserratNormal;
  color: white;
  font-size: 40px;
}
.headerBlock_container_h1 {
  font-family: MontserratBoldItallic;
  font-size: 50px;
}

.headerBlock_container_nav a {
  font-family: MontserratNormal;
  color: white;
  font-size: 40px;
}
.headerBlock_container_menuIcon {
  display: none;
}
.hamburger {
  display: none;
}
.headerBlock_container_nav_aboutLink {
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}


.footer {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.footer_wrapper {
  max-width: 1200px;
  width: 100%;
  
}
.footer_wrapper_mainText {
  text-align: center;
}
.footer_wrapper p {
  font-size: 30px;
  font-family: MontserratNormal;
  font-style: normal;
  font-weight: 500;
}


@media only screen and (max-width: 1000px) {
  .headerBlock_container {
    padding: 20px 20px 0px 20px;
  }
  .headerBlock_container_h1 {
    font-size: 30px;
  }
  .headerBlock_container_nav_carsLink {
    font-size: 30px;
  }
  .headerBlock_container_nav_aboutLink {
    font-size: 30px;
  }
}
@media only screen and (max-width: 900px) {
  .footer {
    padding: 15px;
  }
  .footer_wrapper p {
    font-size: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .headerBlock {
    padding: 10px 0;
  }
  .headerBlock_container_menuIcon {
    display: block;
  }
  .headerBlock_container_nav_carsLink {
    display: none;
  }
  .headerBlock_container_nav_aboutLink {
    display: none;
  }
  html, body {
    height: 100%;
  }  
  .hamburger {
    display: none;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    padding-top: 50px;
  }
  .hamburger a {
    color: white;
    display: block;
    font-family: MontserratNormal;
    font-size: 45px;
    text-align: center;
  }
}

@media only screen and (max-width: 550px) {
  .headerBlock_container_h1 {
    display: none;
  }
}